.container {
  margin: 60px;
}

h1 {
  font-size: 80px;
}

.detailText {
  margin-top: -4px;
}

.forecastTempsMin {
  color: grey;
}

#description {
  text-transform: capitalize;
}

.highlight {
  font-size: 80px;
}
