.container {
  margin: 60px;
}

h1 {
  font-size: 80px;
}

.detailText {
  margin-top: -4px;
}

.forecastDate {
  text-align: center;
}

.forecastIcon {
  display: block;
  margin: 0 auto;
}

.forecastTemps {
  text-align: center;
}
.forecastTempsMin,
.secondaryDetails,
.date {
  color: grey;
}

#description {
  text-transform: capitalize;
}

.highlight {
  font-size: 80px;
}

.icon {
  width: 100px;
}
